:root {
    --secondary: #90caf9; /* blue */
}

/* backgroud+word style */
body {
    text-align: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

/* header */
header, main, footer {
    max-width: 100%;
    margin: 0 auto;
}

/* catalogue */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    background: #2c3e50;
}

nav a {
    background: var(--secondary);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: 
        transform 0.3s ease,
        background 0.3s ease,
        color 0.3s ease,
        box-shadow 0.3s ease;
}

nav a:hover {
    transform: scale(1.07);
    background: white;
    color: var(--secondary);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

/* 4 parts hori */
.features {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.feature {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.feature img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
}

/* adapt */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
    }
}
